.content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 132px;
  margin-bottom: 100px;
}
.content-text {
  text-align: center;
  margin-bottom:90px
}
.content-text > h2 {
  color: #2f0955;
}
.content-descripcion {
  font-size: 16px;
  width: 629px;
}
hr {
  height: 3px!important;
  width: 15%!important;
  background-color: #fbc508!important;
  border: none!important;
  margin: 0 auto!important;
  opacity: 1!important;
}
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 122px;
  margin-bottom: 20px;
}
.card-objetivo {
  margin-left: 130px;
  width: 287px;
  height: 290px;
  border-radius: 20px;
  box-shadow: 0px 0px 41px -14px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-img-objetivo {
  top: -80px;
  position: absolute;
}
.card-cuerpo {
  width: 221px;
}
.card-title {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.card-descripcion {
  font-size: 16px;
}
.coin {
  top: -120px;
  position: absolute;
}
.content-oportunidad {
  display: flex;
}
.oportunidad {
  text-align: left;
  margin-top: 100px;
}
.oportunidad-title{
    color: #2f0955;
    width: 328px;

}
.caroline-text {
  font-size: 16px;
  color: #7000ff;
}
.caroline-descripcion{
    width: 498px;
    font-size: 16px;
    color: #363636;
    font-weight: 400;
}
.img-banner2{
    width: 470px;
}
.img-oportunidad {
  width: 460px;
}
.carousel-inner{
  overflow: visible!important;
}
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
  .content-descripcion {
    font-size: 16px;
    width: 341px;
  }
  .card-objetivo {
    margin-top: 50px;
    margin-left: 0;
  }
  .content-oportunidad{
    flex-direction: column;
  }
  .oportunidad{
    width: 312px;
    padding-left: 31px;
  }
  .caroline-descripcion{
    width: 311px;
  }.img-banner2{
    width: 375px;
  }
  .img-oportunidad{
    width: 375px;
  }
}
/*carousel*/

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}